@model IEnumerable<AuthorViewModel>

@{
    ViewData["Title"] = "Authors";
}

<h2>Authors</h2>
@(Html.Kendo().Window()
            .Name("modal")
            .Modal(true)
            .Visible(false)
            .Draggable(true)
            .AutoFocus(true)
            .MinWidth(300)
            .MinHeight(100)
)

@(Html.Kendo().Grid<AuthorViewModel>()
    .Name("authorsGrid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Id).HeaderHtmlAttributes(new { @class = "text-center" })
        .HtmlAttributes(new { @class = "text-right" })
        .Width(70);
        columns.Bound(x => x.FirstName);
        columns.Bound(x => x.LastName);
        columns.Bound(x => x.About)
        .ClientTemplate("<textarea name='About' readonly='readonly' rows='5' style='text-overflow:ellipsis; display:block; max-width:98%; width:98%; height:100%';><${About}></textarea>")
        .EditorTemplateName("Textarea")
        .Width(250);
        columns.Command(c =>
        {
            c.Edit().Text("Change");
            c.Custom("Delete").Click("showConfirmation");
        }).HeaderHtmlAttributes(new { @class = "text-center" })
        .HtmlAttributes(new { @class = "text-center" })
        .Title("Commands").Width(200);
    })
    .ToolBar(t => t.Create())
    .Editable(e => e.Mode(GridEditMode.InLine))
    .Editable(e => e.DisplayDeleteConfirmation(false)) //suppress standard dialog
    .Scrollable(src => src.Height(800))
    .Sortable()
    .Filterable()
    .Pageable(pageable => pageable.Refresh(true).PageSizes(true))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Events(events => events.Error("errorHandler"))
        .Model(m =>
        {
            m.Id(t => t.Id);
            m.Field(t => t.Id).Editable(false);
        })
        .Create(c => c.Action("Create", "Authors", new { area = "Admin" }))
        .Read(r => r.Action("Read", "Authors", new { area = "Admin" }))
        .Update(u => u.Action("Update", "Authors", new { area = "Admin" }))
        .Destroy(d => d.Action("Destroy", "Authors", new { area = "Admin" }))
        .PageSize(20)
    )
)

<script type="text/x-kendo-template" id="textareaTmpl">
    <textarea name='About' readonly='readonly' cols='40' rows='5'><${About}></textarea>
</script>

@* Delete confirmation window template *@
<script type="text/x-kendo-template" id="confirmationTmpl">
    <div class="text-center">
        <p>Delete <strong>${FullName}</strong> author?</p>
        <button class="btn btn-warning" id="yesButton">Yes</button>
        <button class="btn btn-default" id="noButton">No</button>
    </div>
</script>

@* Alert window template *@
<script type="text/x-kendo-template" id="alertTmpl">
    <div class="text-center">
        <p>${message}</p>
        <button class="btn btn-default" id="okButton">OK</button>
    </div>
</script>

<script type="text/javascript">
    //Delete confirmation window
    function showConfirmation(e) {
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem(row);
        var wnd = $("#modal").data("kendoWindow");
        var confirmationTmpl = kendo.template($("#confirmationTmpl").html());

        //set window title
        $("#modal").prev().find(".k-window-title").html("<small>Delete confirmation<\small>");
        wnd.content(confirmationTmpl(dataItem));
        wnd.center().open();

        $("#yesButton").click(function () {
            grid.removeRow(row);
            wnd.close();
        })

        $("#noButton").click(function () {
            wnd.close();
        })
    }

    //Error handler with alert window
    function errorHandler(e) {
        if (e.errors) {
            var grid = this;
            var message = "";
            var wnd = $("#modal").data("kendoWindow");
            var alertTmpl = kendo.template($("#alertTmpl").html());
            // Create a message containing all errors.
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            //set window title
            $("#modal").prev().find(".k-window-title").html("<small>Error<\small>");
            wnd.content(alertTmpl({ message: message }));
            wnd.center().open();
            grid.cancelChanges();

            $("#okButton").click(function () {
                wnd.close();
            })
        }
    }
</script>
