@using Microsoft.AspNetCore.Identity
@using BookStore.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a asp-controller="Manage" asp-action="Index" title="Manage"
                   class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    Hello @UserManager.GetUserName(User)!
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a asp-controller="Manage" asp-action="Index">Profile</a>
                    </li>
                    @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
                    {
                        <li>
                            <a asp-route-area="Admin" asp-controller="Home" asp-action="Index">Admin Dashboard</a>
                        </li>
                    }
                    <li>
                        <a href="" onclick="logoutForm.submit(); return false;">Log off</a>
                    </li>
                </ul>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav">
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
