@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue egestas massa finibus congue. Nam sollicitudin massa a ante semper ultrices. Donec id elementum arcu. Nulla eget sapien ornare, egestas nibh facilisis, lacinia ligula. In efficitur mauris sed ante aliquam, eget vulputate lectus interdum. Etiam est magna, pellentesque imperdiet sapien eget, feugiat efficitur nibh. Donec ut orci non lectus tempus faucibus. Nam metus erat, semper feugiat ullamcorper a, dictum a nibh. Quisque non nisl eget sem varius sollicitudin quis sit amet felis.</p>

<p>Vestibulum molestie aliquam quam, nec accumsan orci finibus at. Sed ac arcu diam. Nulla euismod purus sit amet sem interdum, vitae tristique purus blandit. Duis a faucibus arcu, vitae hendrerit magna. Vivamus ac sodales justo, quis ultrices mauris. Nullam bibendum, enim id viverra gravida, odio orci tempor elit, ut tempus mi nunc vel dolor. Vestibulum laoreet, erat a ultrices sodales, est risus condimentum neque, nec facilisis eros augue sed turpis. Sed vitae dolor dignissim, ornare augue a, aliquam massa. Vestibulum vehicula nisi enim, quis scelerisque velit sodales sit amet.</p>

<p>Sed aliquet mauris non massa imperdiet porttitor. Nam venenatis ante nec quam mollis, vel faucibus augue dignissim. Praesent at purus libero. Nam iaculis finibus pretium. Vestibulum maximus augue vitae risus rhoncus, vitae facilisis dui dapibus. Suspendisse potenti. Maecenas eget quam accumsan, vestibulum magna at, scelerisque libero. Sed feugiat varius libero. Vivamus orci dui, eleifend nec ligula a, semper fringilla arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare risus at ante pharetra congue.</p>
