@{
    ViewData["Title"] = "Login or Register";
}

<h2>
    Please <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a> or <a class="btn btn-primary" asp-controller="Account" asp-action="Register">
        Register
    </a> before checkout.
</h2>